<div class="grade-card mat-elevation-z4 " [ngClass]="{'A-grade': Project.Environment === 'A', 'B-grade': Project.Environment === 'B', 'C-grade': Project.Environment === 'C',
'D-grade': Project.Environment === 'D', 'F-grade': Project.Environment === 'F'}">
    <div class="grid-container">
        <div class="header vertical-text">
          ENVIRONMENT
        </div>

        <div class="grade">
            {{Project.Environment}}
        </div>
        <div class="item1">{{Project.CIActivities}}</div>
        <div class="item2">{{Project.DeploysTo}}</div>
        <div class="item3">{{Project.ConfigurationManagement}}</div>

        <div class="item4">{{Project.StaticAnalysis}}</div>
        <div class="item5">{{Project.BranchingStrategy}}</div>
        <div class="item6">{{Project.PermutationTestConfigured}}</div>


        <div class="item7 criteria">CI Activities</div>

        <div class="item8 criteria">Deploys To</div>
        <div class="item9 criteria">Configuration Management</div>
        <div class="item10 criteria">Static Analysis Tool</div>
        <div class="item11 criteria">Branching Strategy</div>
        <div class="item12 criteria">Permuation Test Configured</div>
      </div>
</div>
