.grade { grid-area: grade; font-size: 80px;}
.item1 { grid-area: cycle; }
.item2 { grid-area: lastRelease; }
.item3 { grid-area: greenRelease; }
.item4 { grid-area: yellowRelease; }
.item5 { grid-area: redRelease; }
.item6 { grid-area: cyclelbl; }
.item7 { grid-area: lastReleaselbl; }
.item8 { grid-area: greenReleaselbl; }
.item9 { grid-area: yellowReleaselbl; }
.item10 { grid-area: redReleaselbl; }
.header { grid-area: header; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header grade cyclelbl cyclelbl cyclelbl'
    'header grade cycle cycle cycle'
    'header lastReleaselbl greenReleaselbl yellowReleaselbl redReleaselbl'
    'header lastRelease greenRelease yellowRelease redRelease';
  padding: 10px;
  }
