<div class="grade-card mat-elevation-z4 ">
    <div class="grid-container">
        <div class="header">
          RELEASES
        </div>

        <div class="grade">
            {{Project.Releases}}
        </div>
        <div class="item1">{{Project.Cycle}}</div>
        <div class="item2">{{Project.LastRelease}}</div>
        <div class="item3">{{Project.Green}}</div>

        <div class="item4">{{Project.Yellow}}</div>
        <div class="item5">{{Project.Red}}</div>

        <div class="item6">Release Cycle</div>
        <div class="item7">Last Release</div>

        <div class="item8">Green</div>
        <div class="item9">Yellow</div>
        <div class="item10">Red</div>
      </div>
</div>
