<div class="grade-card mat-elevation-z4 " [ngClass]="{'A-grade': Project.Releases === 'A', 'B-grade': Project.Releases === 'B', 'C-grade': Project.Releases === 'C',
'D-grade': Project.Releases === 'D', 'F-grade': Project.Releases === 'F'}">
    <div class="grid-container">
        <div class="header vertical-text">
          RELEASES
        </div>

        <div class="grade">
            {{Project.Releases}}
        </div>
        <div class="item1">{{Project.Cycle}}</div>
        <div class="item2">{{Project.LastRelease}}</div>
        <div class="item3">{{Project.Green}}</div>

        <div class="item4">{{Project.Yellow}}</div>
        <div class="item5">{{Project.Red}}</div>

        <div class="item6 criteria">Release Cycle</div>
        <div class="item7 criteria">Last Release</div>

        <div class="item8 criteria">Green</div>
        <div class="item9 criteria">Yellow</div>
        <div class="item10 criteria">Red</div>
      </div>
</div>
