<div class="grade-card mat-elevation-z4 " [ngClass]="{'A-grade': Project.AgileMetrics === 'A', 'B-grade': Project.AgileMetrics === 'B', 'C-grade': Project.AgileMetrics === 'C',
'D-grade': Project.AgileMetrics === 'D', 'F-grade': Project.AgileMetrics === 'F'}">
  <div class="grid-container">
    <div class="header vertical-text">
      AGILE METRICS
    </div>

    <div class="grade">
        {{Project.AgileMetrics}}
    </div>
    <div class="item1">{{Project.PointsDelivered}}</div>
    <div class="item2">{{Project.BacklogSize}}</div>
    <div class="item3">{{Project.Complete}}</div>

    <div class="item4">{{Project.LastSprintVelocity}}</div>
    <div class="item5">{{Project.PlannedActualVelocity}}</div>

    <div class="item6">{{Project.AchieveGoal}}</div>
    <div class="item7">{{Project.VelocityVariance}}</div>
    <div class="item8">{{Project.ReadyVsTeamVelocity}}</div>

    <div class="item9 criteria">Points Delivered</div>
    <div class="item10 criteria">Total Backlog Size</div>
    <div class="item11 criteria">Complete</div>

    <div class="item12 criteria">Last Sprint Velocity</div>
    <div class="item13 criteria">Planned vs Actual Velocity</div>

    <div class="item14 criteria">Achieved Sprint Goal</div>
    <div class="item15 criteria">Velocity Variance</div>
    <div class="item16 criteria">Ready vs Team Velocity</div>
  </div>
</div>
