<div *ngIf="projectLoaded">
  <div fxLayout="row" fxLayoutAlign="center"><span>{{project?.Name || "MOMO"}}</span></div>
  <div fxLayout="row wrap">
    <project-health [Project]="project" fxFlex="50" fxFlex.lt-sm="100" fxFlex.sm="100"></project-health>
    <quality [Project]="project" fxFlex="50" fxFlex.lt-sm="100" fxFlex.sm="100"></quality>
  </div>
  <div fxLayout="row wrap">
    <agile-metrics [Project]="project" fxFlex="50" fxFlex.lt-sm="100" fxFlex.sm="100"></agile-metrics>
    <code-quality [Project]="project" fxFlex="50" fxFlex.lt-sm="100" fxFlex.sm="100"></code-quality>
  </div>
  <div fxLayout="row wrap">
    <releases [Project]="project" fxFlex="50" fxFlex.lt-sm="100" fxFlex.sm="100"></releases>
    <environment [Project]="project" fxFlex="50" fxFlex.lt-sm="100" fxFlex.sm="100"></environment>
  </div>
</div>
