<div class="grade-card mat-elevation-z4 " [ngClass]="{'A-grade': Project.CodeQuality === 'A', 'B-grade': Project.CodeQuality === 'B', 'C-grade': Project.CodeQuality === 'C',
'D-grade': Project.CodeQuality === 'D', 'F-grade': Project.CodeQuality === 'F'}">
    <div class="grid-container">
        <div class="header vertical-text">
          CODE QUALITY
        </div>

        <div class="grade">
            {{Project.CodeQuality}}
        </div>
        <div class="item1">{{Project.UnitTest}}</div>
        <div class="item2">{{Project.MaintainabilityIndex}}</div>
        <div class="item3">{{Project.RuleViolation}}</div>

        <div class="item4">{{Project.BuildPassRate}}</div>
        <div class="item5 criteria">Unit Test Code Coverage</div>

        <div class="item6 criteria">Maintainability Index</div>

        <div class="item7 criteria">Static Rule Violations and Warnings</div>
        <div class="item8 criteria">Build Pass Rate</div>
      </div>
</div>
