.grade { grid-area: grade; }
.item1 { grid-area: blocking; }
.item2 { grid-area: nonblocking; }
.item3 { grid-area: cosmetic; }
.item4 { grid-area: security; }
.item5 { grid-area: securityRatio; }
.item6 { grid-area: performance; }
.item7 { grid-area: blockinglbl; }
.item8 { grid-area: nonblockinglbl; }
.item9 { grid-area: cosmeticlbl; }
.item10 { grid-area: securitylbl; }
.item11 { grid-area: securityRatiolbl; }
.item12 { grid-area: performancelbl; }
.header { grid-area: header; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header grade blockinglbl nonblockinglbl'
    'header grade blocking nonblocking'
    'header grade cosmeticlbl securitylbl'
    'header grade cosmetic security'
    'header securityRatiolbl securityRatiolbl performancelbl'
    'header securityRatio securityRatio performance';
  padding: 10px;
  }
